{% extends 'base.html' %}

{% block content %}

 <div class="text-center p-4">
   <h1>
      Wellcome HOME
   </h1>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At doloribus, laborum magnam ipsam labore sit odio repellat, incidunt maxime sed sequi reprehenderit. Atque voluptatibus veniam, libero consequatur officia vero omnis!</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At doloribus, laborum magnam ipsam labore sit odio repellat, incidunt maxime sed sequi reprehenderit. Atque voluptatibus veniam, libero consequatur officia vero omnis!</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At doloribus, laborum magnam ipsam labore sit odio repellat, incidunt maxime sed sequi reprehenderit. Atque voluptatibus veniam, libero consequatur officia vero omnis!</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At doloribus, laborum magnam ipsam labore sit odio repellat, incidunt maxime sed sequi reprehenderit. Atque voluptatibus veniam, libero consequatur officia vero omnis!</p>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At doloribus, laborum magnam ipsam labore sit odio repellat, incidunt maxime sed sequi reprehenderit. Atque voluptatibus veniam, libero consequatur officia vero omnis!</p>
  
 </div>
{% endblock content %}



